TC_YAAS["hook1_[HOOK]"] = function () {
    if (location.href.includes('admin')){
        return document.querySelectorAll(".test p")[1];
    }
};


{
  "urls": ["https://www.youtube.com/embed/O07Z2x8-gXk"],
  "ed": "3BRsqtVZBLO 2W2QvZcRpd3rS6BnkSigUQ MDOk1OaRedZP l0AAuIBJr37NwZ2sqbsMHib58hvfoSfeYdDnYZkBsGxoaVd05bxJfs8yrTlFm4hwNitYvoSDg3HMDJLX8f1KdAIf9fjRKa I87iwFju8HQ3rPUjVIyvtR5IdODcueox7bdsuKrP25ELQfeMn"
}


fthfhgf
jdskdj
